{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Know About Us more</title>
    <link rel="stylesheet"  type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
     <p></p>
    <h1>Here is About Us Corner</h1>
    <p>hi</p>

       <header>
        
           <nav>
                <p></p>
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
              
           </nav>
       </header>

</body>
</html>