{% load static %}
<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
   
    <!--mmmmmmmmmmmmmmmmmmmmmmmmmm
    In your templates, you can link to a specific post's detail view like this:-->
    <a href="{% url 'post_detail' pk=post.id %}">{{ post.title }}</a>
    <!--This dynamically generates the URL for the post detail view based on the id of the post.
    mmmmmmmmmmmmmmmmmmmmmmmmmmmm-->
    

</body>
</html>
